@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/arimo/400.css";
@import "@fontsource/arimo/500.css";
@import "@fontsource/arimo/600.css";
@import "@fontsource/arimo/700.css";
